<!DOCTYPE html>
<html lang="en">
<head>
    <%-  include ('../partials/head') %>
    <!-- Custom css -->
    <link href="/static/css/users-management.css" media="all" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="/static/css/admin-home.css">
</head>
<body>
    <!-- Header -->
    <header>
        <%- include ('../partials/header') %>
    </header>

    <section class="h-100 second-background"></section>

    <main>
        <div class="title">
            <h2>Welcome to Admin Interface</h2>
        </div>

        <div class="box">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <i class="fas fa-users fa-3x" aria-hidden="true"></i>
                            <div class="title">
                                <h4>User Management</h4>
                            </div>
                            <a href="<%=userRoute%>">Connect</a>
                        </div>
                    </div>   
                
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="box-part text-center">
                            <i class="fas fa-tools fa-3x" aria-hidden="true"></i>
                            <div class="title">
                                <h4>Game Settings</h4>
                            </div>
                            <a href="<%=settingsGameRoute%>">Connect</a>
                        </div>
                    </div>   

                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <div class="box-part text-center">
                                <i class="fas fa-eye fa-3x" aria-hidden="true"></i>
                                <div class="title">
                                    <h4>Watch game</h4>
                                </div>
                                <a href="<%=gameViewRoute%>">Connect</a>
                            </div>
                        </div>   
                </div>      
            </div>
        </div>
    </main>
</body>
</html>