<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%-  include ('../partials/head') %>
    <!-- Custom css -->
    <link href="/static/css/game-view.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Header -->
    <header>
        <%- include ('../partials/header') %>
    </header>

    <section class="second-background"></section>

    <main>
        <div class="title">
            <h2>Game View</h2>
            <p>You can watch game here</p>
        </div>
        <div class="card log-in shadow mb-5 bg-white rounded">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4>Game Info</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="info">
                        <div class="perimeter">
                            <h4> Perimeter </h4>
                            <% if (topLeft !== null) {%>
                                <p class="card-text">Latitude 1: <b><%- topLeft.latitude %></b></p>
                                <p class="card-text">Longtitude 1: <b><%- topLeft.longitude %></b></p>
                            <% } %>
                            <% if (bottomRight !== null) { %>
                                <p class="card-text">Latitude 2: <b><%- bottomRight.latitude %></b></p>
                                <p class="card-text">Longtitude 2: <b><%- bottomRight.longitude %></b></p>
                            <% } %>
                        </div>
                        <hr/>
                        <div class="target">
                            <h4> Target </h4>
                            <% if (target !== null) { %>
                                <p class="card-text">Latitude: <b><%- target.latitude %></b></p>
                                <p class="card-text">Longtitude: <b><%- target.longitude %></b></p>
                            <% } %>
                        </div>
                    </div>

                    <div class="players">
                        <h4> List players </h4>
                        <% if (playerList.length > 0) {%>
                            <% playerList.forEach( player => { %>
                                <% if (player.id !== 'admin') { %>
                                    <p class="card-text"><b><%- player.id %></b></p>
                                <% } %>
                            <% }) %>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
       
    </main>
</body>
</html>