<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%-  include ('../partials/head') %>
    <!-- Custom css -->
    <link href="/static/css/game-settings.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/game-settings.js"></script>
</head>
<body>

    <!-- Header -->
    <header>
        <%- include ('../partials/header') %>
    </header>
    <section class="second-background"></section>

    <main>
        <div class="title">
            <h2>Game settings</h2>
            <p>You can create and customize games</p>
        </div>
        <div class="card settings shadow mb-5 bg-white rounded">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4>Game settings</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="perimeter">
                        <h4> Perimeter </h4>
                        <p class="card-text">
                            <label for="lat1">Latitude 1</label>
                            <input class="form-control" id="lat1" name="lat1" required>
                        </p>
                        <p class="card-text">
                            <label for="lon1">Longtitude 1</label>
                            <input class="form-control" id="lon1" name="lon1" required>
                        </p>
                        <p class="card-text">
                            <label for="lat2">Latitude 2</label>
                            <input class="form-control" id="lat2" name="lat2" required>                        
                        </p>
                        <p class="card-text">
                            <label for="lon2">Longtitude 2</label>
                            <input class="form-control" id="lon2" name="lon2" required>                        
                        </p>
                    </div>
                    <div class="target">
                        <h4> Target </h4>
                        <p class="card-text">
                            <label for="targetLat">Latitude</label>
                            <input class="form-control" id="targetLat" name="targetLat" required>
                        </p>
                        <p class="card-text">
                            <label for="targetLon">Longtitude 1</label>
                            <input class="form-control" id="targetLon" name="targetLon" required>
                        </p>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" onclick="confirmUserAction()">Confirm</button>
                <button class="btn btn-outline-dark" onclick="restartUserAction()">Cancel</button>
            </div>
        </div>

        <div class="modal fade" id="userModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onClick="confirmModal()">Confirm</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>     
       
    </main>
</body>
</html>