<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%-  include ('../partials/head') %>
    <!-- Custom css -->
    <link href="/static/css/login.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/login.js"></script>
</head>
<body>
    <!-- Header -->
    <header>
        <%- include ('../partials/header') %>
    </header>

    <section class="second-background"></section>

    <main>
        <div class="title">
            <h2>User Login</h2>
        </div>
        <div class="card log-in shadow mb-5 bg-white rounded">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4>Log in</h4>
            </div>
            <div class="card-body">
                    <p class="card-text">
                        <label for="pseudo">Username</label>
                        <input class="form-control" id="pseudo" name="pseudo" required>
                    </p>
                    <p class="card-text">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password" data-toggle="password"> 
                    </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" onclick="confirmUserAction()">Confirm</button>
                <button class="btn btn-outline-dark" onclick="restartUserAction()">Cancel</button>
            </div>
        </div>

        <div class="modal fade" id="userModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onClick="confirmModal()">Confirm</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>     
       
    </main>
</body>
</html>