<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <%-  include ('../partials/head') %>
    <!-- Custom css -->
    <link href="/static/css/users-management.css" media="all" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/static/js/users-management.js"></script>
</head>
<body>
    <!-- Header -->
    <header>
        <%- include ('../partials/header') %>
    </header>

    <section class="second-background"></section>

    <main>
        <div class="title">
            <h2>Users management</h2>
            <p>You can create, view, edit and delete users in this page</p>
        </div>
        <div class="card user-list shadow mb-5 bg-white rounded">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4>List users</h4>
                <button class="btn" onClick="displayAddUser()"><i class="fas fa-user-plus"></i></button>
            </div>
            <% if (status === 'success' && users !== null) { %>
            <ul class="list-users list-group list-group-flush">
                <% users.forEach(function(user) { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <%= user %>
                        <div class="btn-group">
                            <button class="btn" onclick="displayViewUser('<%= user %>')"><i class="fas fa-info-circle"></i></button>
                            <button class="btn" onclick="displayEditUser('<%= user %>')"><i class="fas fa-edit"></i></button>
                            <button class="btn" onclick="displayDeleteUser('<%= user %>')"><i class="fas fa-trash"></i></button>
                        </div>
                    </li>
                <% }); %>
            </ul>
            <div class="card-footer">
                <a>Total : <%= users.length %> </a>
            </div>
            <% } else { %>
            <i>There is no user existed</i>
            <% } %>
            
        </div>

        <div class="modal fade" id="userModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onClick="confirmModal()">Confirm</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>     
        
        <div class="card user-action shadow mb-5 bg-white rounded hidden">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h4 id="user-action-title"></h4>
            </div>
            <div class="card-body">
                    <p class="card-text">
                        <label for="pseudo">Username</label>
                        <input class="form-control" id="pseudo" name="pseudo" required>
                    </p>
                    <p class="card-text">
                        <label for="password">Password</label>
                        <input class="form-control" type="password" name="password" id="password" data-toggle="password"> 
                    </p>
                    <p class="card-text confirm-password">
                        <label for="confirm-password">Confirm password</label>
                        <input class="form-control" type="password" name="confirm-password" id="confirm-password" data-toggle="password">
                    </p>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" onclick="confirmUserAction()">Confirm</button>
                <button class="btn btn-outline-dark" onclick="restartUserAction()">Cancel</button>
            </div>
        </div>
    </main>
</body>
</html>