a{
  text-decoration:none; 
  color: #0062cc;
}
.box{
    padding:60px 0px;
}

.box-part{
    background:#FFF;
    border-radius:0;
    padding:60px 10px;
    margin:30px 0px;
}

.fa{
     color:#4183D7;
}