:root {
    --navbar-background: rgb(37, 179, 93);
}

.navbar {
    background: var(--navbar-background)!important;
}

.nav-link {
    color: #fafafa!important;
}

.navbar-nav {
    display: contents;
}

.spacer {
    flex-grow: 1;
}

.btn-logout {
    background: none;
    border: none;
}