:root {
    --header-background: rgb(206, 214, 226);
    --second-background: rgb(54, 60, 75);
    --title: white;
    --navbar-background: rgb(37, 179, 93);
}

body {
    font-family: 'Roboto', serif;     
    height: 100vh;
    background: #fafafa;
}

.second-background {
    background: var(--second-background);
    height: 30%;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.title {
    margin-top: 2%;
}

.title > h2, .title > p{
    font-weight: 300!important;
    margin: auto;
    color: var(--title);
    width: 90%;
    margin: auto;
    text-align: center;
}


.card {
    width: 90%;
    margin: auto;
    margin-top: 2%;
    border: none;
}

.card-header {
    background: var(--header-background);
    border-color: var(--header-background);
    color: var(--second-background);
    height: 80px;
    display: flex;
}

.card-header h4 {
    margin: auto;
    margin-left: 0;
}

.user-list .btn {
    color: var(--second-background);
}

.user-list .btn:hover {
    color: var(--navbar-background);
}

.user-list .btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.modal .btn-primary {
    background: var(--navbar-background);
    border: var(--navbar-background);
}

.modal .btn-secondary {
    background: var(--second-background);
    border: var(--second-background);
}

.user-action {
    width: 60%;
}

.user-action .card-header {
    background: var(--second-background);
    border: var(--second-background);
    color: white;
}

.hidden {
    display: none;
}