<template>
    <div class="container">      
        <el-tabs type="border-card" :tab-position="tabPosition" style="height: 200px;">
            <el-tab-pane label="Play"><position></position></el-tab-pane>
            <el-tab-pane label="Match Details"><match-info></match-info></el-tab-pane>
            <el-tab-pane label="Trophies"><trophies></trophies></el-tab-pane>
        </el-tabs>

        <section>
            <leaflet-map></leaflet-map>
        </section>
    </div>    
</template>

<script>
import MatchInfo from './Info'
import Position from './Position'
import LeafletMap from './Map'
import Trophies from './Trophies'

export default {
    name: "Game",
    components: {
        "match-info": MatchInfo,
        "position": Position,
        "leaflet-map": LeafletMap,
        "trophies": Trophies
    },
    data() {
      return {
        tabPosition: 'top',
        urlImage: null,
        username: this.$store.getters.user.username,
        display: false
      };
    }, 
    mounted() {
        this.getRessources();
    },
    created() {
        this.unsubscribe = this.$store.subscribe((mutation, state) => {
            
        });
    },
    beforeDestroy() {
        this.unsubscribe();
    },
    methods: {
        getRessources() {
            let _this = this
            let api_url = '/api';
            let get_url = api_url + "/game";
            this.$http.get(get_url)
            .then(function (response) {
                console.log(response.data);
                _this.initGame(response.data);
            }).catch(function(error) {
                console.log(error);
                _this.message('Unable to get game', false);
            });            
        },
        initGame(data) {
            const user = data.playerList.filter(u => u.id === this.username)[0];
            const perimeter = data.perimeter;
            const target = data.target;
            // Update user
            this.$store.commit({
                type:'updateUser',
                status: user.status,
                trophies: user.trophy
            });
            // Update list users
            this.$store.commit({
                type: 'updateListUsers',
                listUsers: data.playerList
            })
            // Update TTL
            this.$store.commit({
                type:'updateTTL',
                ttl: user.ttl
            });
            // Update perimeter
            this.$store.commit({
                type: 'updatePerimeter',
                lat1: perimeter.topLeft.latitude,
                lat2: perimeter.bottomRight.latitude,
                lon1: perimeter.topLeft.longitude,
                lon2: perimeter.bottomRight.longitude,
            }),
            // Update target
            this.$store.commit({
                type: 'updateTarget',
                lat: target.latitude,
                lon: target.longitude,
            })
        },
        message(message, success) {
            this.$message({
                showClose: true,
                message: message,
                type: success ? 'success' : 'error' 
            });
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
    width: 100%;
    height: 100%;
}

.el-aside {
    width: auto!important;
}

/* Navbar */
.el-header {
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    height: auto!important;
}
.navbar {
    display: flex;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    min-height: 60px;
    padding-right: 1%;
}
.el-dropdown .el-button {
    height: 100%;
}
.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.el-main {
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
}

.el-tabs {
    border-radius: 5px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    height: auto!important;
    margin-bottom: 4%;
}

.spacer {
    flex-grow: 1!important;
}
h3 {
    padding-left: 1%;
}
</style>
<style lang="scss">
$main: #7ac29a; 
$menu-item: rgb(144, 147, 153); 

.sidebar .title {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main;
}

.el-menu-item {
    &:hover {
        background: rgb(227, 243, 245)
    }
}
.is-active {
    color: $menu-item!important;
}

.navbar .el-button {
    border: none;
    &:hover {
        color: white!important;
        background: $main!important;
    }
    &:active, &:focus {
        color: $main;
        background: none!important;
    }
}

.el-dropdown-menu__item {
    &:hover {
        color: white!important;
        background-color: lighten($main, 20)!important;
    }
}

.avatar-container span{    
    padding: 5%;
    color: $menu-item!important;
}

.el-tabs__nav-scroll {
    background: #424241;
    color: white;
}

.el-tabs__item {
    &:hover {
        color: $main!important;
    }
}
</style>
