<template>
    <el-popover  placement="down" trigger="click">
        <el-form :model="model" :rules="rules" ref="form">
            <el-form-item label="Game ID" prop="id">
                <el-input v-model="model.id"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button icon="el-icon-check" circle @click="joinGame()"></el-button>
            </el-form-item>
        </el-form>
        <el-button slot="reference">Join game</el-button>
    </el-popover>
</template>

<script>

export default {
    name: "GameID",
    data() {
        return {
            model: {
                id: null,
            },
            rules: {
                id: [
                    {
                        required: true,
                        message: "Game ID is required",
                        trigger: "blur"
                    }
                ],
            }
        };
    },
    methods: {
        joinGame() {
            if (this.validate('form')) {
                this.$store.commit('joinGameByPlayer')
                this.message('Successfully joined game', true);
            } else {
                this.message('Unable to join game', false);
            }
        },
        validate(ref) {
            let res = false;
            this.$refs[ref].validate((valid) => {
                res = valid;
            })
            return res;
        },
        message(message, success) {
            this.$message({
                showClose: true,
                message: message,
                type: success ? 'success' : 'error' 
            });
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.el-form-item {
    margin-bottom: 2%;
}
.el-form-item:last-child {
    float:right;
}
.el-button {
    height: 100%;
}
</style>
<style lang="scss">
$main: #7ac29a; 
$menu-item: rgb(144, 147, 153); 
.el-button {
  &:hover,
  &.active,
  &:focus {
    color: lighten($main, 7);
    border-color: lighten($main, 7);
  }
}

.el-input__inner {
  &:hover, &:active, &:focus {
    border-color: $main;
  }
}
</style>
