<template>
  <div class="menu">
    <h2>{{title}}</h2>
    <el-row>
      <el-button plain @click="$router.push('login')"><i class="above fas fa-sign-in-alt"></i>Login</el-button>
    </el-row>
  </div>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      title: 'Welcome to PacMap'
    };
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.el-row {
  width: 40%;
  display: flex;
}

.el-row .el-button {
  width: 45%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-row .el-button .above {
  display: block;
  height: 2em;
  margin: 0 auto 5px;
  text-align: center;
  width: 5em;
}
</style>
<style lang="scss">
$main: #7ac29a;
.el-button {
  &:hover,
  &.active,
  &:focus {
    color: lighten($main, 7)!important;
    border-color: lighten($main, 7)!important;
  }
}
h2 {
  font-family: "Open Sans";
  letter-spacing: 1px;
  font-family: Roboto, sans-serif;
}
a {
  color: $main;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: lighten($main, 7);
  }
}
</style>
