<template>
  <div class="container">
    <div class="perimeter">
      <h4>Perimeter</h4>
      <p v-if="perimeter.lat1">Latitude 1: {{perimeter.lat1}}</p>
      <p v-if="perimeter.lon1">Longitude 1: {{perimeter.lon1}}</p>
      <p v-if="perimeter.lat2">Latitude 2: {{perimeter.lat2}}</p>
      <p v-if="perimeter.lon2">Longitude 2: {{perimeter.lon2}}</p>
    </div>
    <div class="users">
      <h4>Users</h4>
      <ul>
        <li v-for="user in users" v-if="user.id !== 'admin'" :key="user.id">
          <span>Username: {{user.id}} , position: {{user.position}}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: "Match-Info",
  data() {
    return {
      perimeter: null,
      users: null,
    };
  },
  mounted() {
    this.init();
  },
  created() {
      this.unsubscribe = this.$store.subscribe((mutation, state) => {
          if (mutation.type === 'updateListUsers') {
            this.updateUsers(state.listUsers);
          }
          if (mutation.type === 'updatePerimeter') {
            this.updatePerimeter(state.settings.perimeter);        
          }
      });
  },
  beforeDestroy() {
    this.unsubscribe();
  },
  methods: {
    init() {
      this.perimeter = this.$store.getters.perimeter;
      this.users = this.$store.getters.listUsers;
    },
    updateUsers(list) {
      this.users = list;
    },
    updatePerimeter(perimeter) {
      this.perimeter = perimeter;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
  display: flex;
}
.container .perimeter {
  width: 45%;
  margin: auto;
}
.container .users {
  width: 45%;
  margin: auto;
}
</style>
<style lang="scss" scoped>
$main: #7ac29a; 
$menu-item: rgb(144, 147, 153); 
p {
  color: black!important;
}

li {
  color: black!important;
}
</style>
