<template>
  <div class="login">
    <el-card>
      <h2>Login</h2>
      <el-form class="login-form" :model="model" :rules="rules" ref="form" @submit.native.prevent="login">
        <el-form-item prop="username">
          <el-input v-model="model.username" placeholder="Username" prefix-icon="fas fa-user"></el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input v-model="model.password" placeholder="Password" type="password" prefix-icon="fas fa-lock"></el-input>
        </el-form-item>
        <el-form-item>
          <el-button :loading="loading" class="login-button" type="primary" native-type="submit" block>
            Login
          </el-button>
        </el-form-item>
         <el-form-item>
          <el-button class="back-button" @click="$router.push('home')">
            Back to home
          </el-button>
        </el-form-item>
      </el-form>
    </el-card>
  </div>
</template>

<script>
export default {
  name: "Login",
  data() {
    return {
      validCredentials: {
        username: "lightscope",
        password: "lightscope"
      },
      model: {
        username: "",
        password: ""
      },
      loading: false,
      rules: {
        username: [
          {
            required: true,
            message: "Username is required",
            trigger: "blur"
          },
          {
            min: 4,
            message: "Username length should be at least 5 characters",
            trigger: "blur"
          }
        ],
        password: [
          { required: true, message: "Password is required", trigger: "blur" },
          {
            min: 5,
            message: "Password length should be at least 5 characters",
            trigger: "blur"
          }
        ]
      }
    };
  },
  methods: {
    login(e) {
      e.preventDefault();
      let _this = this;
      let api_url = '/api-spring';
      let username = this.model.username;
      let password = this.model.password;
      let data = {
        login: username,
        password: password
      }
      let post_url = api_url + "/login";
      this.$http.post(post_url, data)
      .then(function (response) {
        if (response.status === 204) {
          _this.message('You have successfully logged in', true);
          _this.saveUser(username, response.headers.authentication);
          _this.$router.push('game');
        }
      }).catch(function(error) {
        _this.message('Unable to login', false);
      });
    },
    message(message, success) {
      this.$message({
        showClose: true,
        message: message,
        type: success ? 'success' : 'error' 
      });
    },
    saveUser(name, auth) {
      this.$store.commit({
        type:'updateUser',
        username: name,
        authentication: auth
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.login {
  height: 80%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button {
  width: 100%;
  margin-top: 40px;
}

.back-button {
  width: 100%;
}

.login-form {
  width: 290px;
}
.forgot-password {
  margin-top: 10px;
}
</style>
<style lang="scss">
$main: #7ac29a; 
.el-button {
  &:hover,
  &.active,
  &:focus {
    color: lighten($main, 7);
    border-color: lighten($main, 7);
  }
}
.el-button--primary {
  background: $main;
  border-color: $main;

  &:hover,
  &.active,
  &:focus {
    color: white;
    background: lighten($main, 7);
    border-color: lighten($main, 7);
  }
}
.login .el-input__inner:hover {
  border-color: $main;
}
.login .el-input__prefix {
  background: rgb(238, 237, 234);
  left: 0;
  height: calc(100% - 2px);
  left: 1px;
  top: 1px;
  border-radius: 3px;
  .el-input__icon {
    width: 30px;
  }
}
.login .el-input input {
  padding-left: 35px;
}
.login .el-card {
  padding-top: 0;
  padding-bottom: 30px;
}
h2 {
  font-family: "Open Sans";
  letter-spacing: 1px;
  font-family: Roboto, sans-serif;
  padding-bottom: 20px;
}
a {
  color: $main;
  text-decoration: none;
  &:hover,
  &:active,
  &:focus {
    color: lighten($main, 7);
  }
}
.login .el-card {
  width: 340px;
  display: flex;
  justify-content: center;
}
</style>
