<template>
    <el-container class="container">
        <el-aside>
            <sidebar></sidebar>
        </el-aside>

        <el-container>
            <el-header>
                <el-menu class="navbar" mode="horizontal">                    
                    <!-- <game-id></game-id> -->
                    <el-button @click="joinGame()">Join game</el-button>
                    <el-button v-if="display" @click="checkInfo()">Update Match</el-button>
                    
                    <div class="spacer"></div>
                    <!-- Avatar -->
                    <div class="avatar-container">
                        <el-avatar :src="urlImage" @error="imgUrlAlt"></el-avatar>
                        <span>{{username}}</span>
                    </div>
                </el-menu>
            </el-header>
                
            <el-main v-if="display">
                <game></game>
            </el-main>            
        </el-container>
        <el-dialog title="Congratulations" :visible.sync="victoryDialog">
            <h2> You reached the target </h2>
        </el-dialog>
        <el-dialog title="Sorry" :visible.sync="lostDialog">
            <h2> You lost </h2>
        </el-dialog>
    </el-container>
    
</template>

<script>
import Sidebar from './Sidebar'
import Game from './Game' 

export default {
    name: "Game",
    components: {
        "sidebar": Sidebar,
        "game": Game
    },
    data() {
      return {
        tabPosition: 'top',
        urlImage: null,
        username: this.$store.getters.user.username,
        display: false,
        victoryDialog: false,
        lostDialog: false
      };
    }, 
    mounted() {
        this.setRequestToken();
    },
    created() {
        this.unsubscribe = this.$store.subscribe((mutation, state) => {
            if (mutation.type === 'updateImage') {
                this.updateUrl(state.image);        
            }
            if (mutation.type === 'joinGameByPlayer') {
                this.display = true;      
            }
            if (mutation.type === 'userWon') {
                this.display = false;   
                this.victoryDialog = true;   
            }
            if (mutation.type === 'userLost') {
                this.display = false;   
                this.lostDialog = true;   
            }
            if (mutation.type === 'gameFinished') {
                this.display = false;    
                this.message('Game has finished, getting result', true);
                this.getResources();
            }
            if (mutation.type === 'timeOut') {
                this.display = false;    
                this.message('Time out, getting result', true);
                this.getResources();
            }
        });
    },
    beforeDestroy() {
        this.unsubscribe();
    },
    methods: {
        joinGame() {
            let _this = this
            let api_url = '/api';
            let get_url = api_url + "/game";
            this.$http.get(get_url)
            .then(function (response) {
               if (response.data.status === 'inactive' || response.data.status === 'finished') {
                    _this.message('No game available, please wait for admin to create new game', false);
               } else {
                    _this.$store.commit('joinGameByPlayer');
                    _this.message('Successfully joined game', true);
               }
            }).catch(function(error) {
                _this.message('Unable to get game', false);
            });    
        },
        getResources() {
            let _this = this
            let api_url = '/api';
            let get_url = api_url + "/resources";
            this.$http.get(get_url)
            .then(function (response) {
                const res = response.data;
                const current_status = res.filter(u => u.id === _this.username)[0].status;
                if (current_status !== 'won') {
                    _this.$store.commit('userLost');
                } else {
                    _this.$store.commit('userWon');
                }
            }).catch(function(error) {
                _this.message('Unable to get resources for match', false);
            });   
        },
        checkInfo() {
            let _this = this
            let api_url = '/api';
            let get_url = api_url + "/game";
            this.$http.get(get_url)
            .then(function (response) {
                console.log(response.data)
                _this.updateGame(response.data);
            }).catch(function(error) {
                _this.message('Unable to get update for match', false);
            });   
        },
        updateGame(data) {
            const user = data.playerList.filter(u => u.id === this.username)[0];
            const perimeter = data.perimeter;
            const target = data.target;
            // Update user
            this.$store.commit({
                type:'updateUser',
                status: user.status,
                trophies: user.trophy
            });
            // Update list users
            this.$store.commit({
                type: 'updateListUsers',
                listUsers: data.playerList
            })
            // Update TTL
            this.$store.commit({
                type:'updateTTL',
                ttl: user.ttl
            });
            // Update perimeter
            this.$store.commit({
                type: 'updatePerimeter',
                lat1: perimeter.topLeft.latitude,
                lat2: perimeter.bottomRight.latitude,
                lon1: perimeter.topLeft.longitude,
                lon2: perimeter.bottomRight.longitude,
            }),
            // Update target
            this.$store.commit({
                type: 'updateTarget',
                lat: target.latitude,
                lon: target.longitude,
            })
        },
        setRequestToken() {
            if(this.$store.getters.user.authentication) {
                this.$http.defaults.headers.common['Authentication'] = this.$store.getters.user.authentication;
                this.$http.defaults.headers.common['Authorization'] = this.$store.getters.user.authentication;
            }
        },
        imgUrlAlt(event) {
            this.urlImage = "https://bibliosud.omekas.mind-and-go.net/files/original/5edcbd9c5fe1c9d40ef1f65db62d61d2b5220b25.png"
        },
        updateUrl(url) {
            this.urlImage = url;
        },
        message(message, success) {
            this.$message({
                showClose: true,
                message: message,
                type: success ? 'success' : 'error' 
            });
        }
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
    width: 100%;
    height: 100%;
}

.el-aside {
    width: auto!important;
}

/* Navbar */
.el-header {
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;
    height: auto!important;
}
.navbar {
    display: flex;
    border: solid 1px #e6e6e6;
    border-radius: 5px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    min-height: 60px;
    padding-right: 1%;
}
.el-dropdown .el-button {
    height: 100%;
}
.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container */
.el-main {
    padding: 0;
    padding-left: 2%;
    padding-right: 2%;
}

.el-tabs {
    border-radius: 5px;
    box-shadow: 0 6px 10px -4px rgba(0,0,0,.15);
    height: auto!important;
    margin-bottom: 4%;
}

.spacer {
    flex-grow: 1!important;
}
h3 {
    padding-left: 1%;
}
</style>
<style lang="scss">
$main: #7ac29a; 
$menu-item: rgb(144, 147, 153); 

.sidebar .title {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $main;
}

.el-menu-item {
    &:hover {
        background: rgb(227, 243, 245)
    }
}
.is-active {
    color: $menu-item!important;
}

.navbar .el-button {
    border: none;
    &:hover {
        color: white!important;
        background: $main!important;
    }
    &:active, &:focus {
        color: $main;
        background: none!important;
    }
}

.el-dropdown-menu__item {
    &:hover {
        color: white!important;
        background-color: lighten($main, 20)!important;
    }
}

.avatar-container span{    
    padding: 5%;
    color: $menu-item!important;
}

.el-tabs__nav-scroll {
    background: #424241;
    color: white;
}

.el-tabs__item {
    &:hover {
        color: $main!important;
    }
}
</style>
