<template>
  <el-card class="box-card">
    <div slot="header" class="card-header">
      <p><b>Perimeter</b>: {{pBounds}}</p>
      <div class="spacer"></div>
      <p class="timer">
        <timer></timer>
      </p>
    </div>
    <div id="map" class="map"></div>
  </el-card>
</template>

<script>
// Leaflet
import $ from 'jquery'
import Timer from "./Timer"

export default {
  name: "Leaflet-Map",
  components: {
    "timer": Timer
  },
  data() {
    return {
        map: null,
        tileLayer: null,
        layers: [],
        target: null,
        perimeter: null,
        pBounds: null,
        myMarker: null,
        opponentMarker: null
    }
  },
  mounted() {
    this.initMap();
  },
  created() {
    this.unsubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'updateMap') {
        this.updateMap(state.position);        
      }
      if (mutation.type === 'updatePosition') {
        this.updateMarker(state.position);        
      }
      if (mutation.type === 'updatePerimeter') {
        this.updatePerimeter(state.settings.perimeter);        
      }
      if (mutation.type === 'focusPerimeter') {
        this.focusPerimeter(state.settings.perimeter);        
      }
      if (mutation.type === 'updateTarget') {
        this.updateTarget(state.settings.target);        
      }
      if (mutation.type === 'focusTarget') {
        this.focusTarget(state.settings.target);        
      }
    });
  },
  beforeDestroy() {
    this.unsubscribe();
  },
  methods: {
    initMap() {
      const position = this.$store.getters.position;
      this.map = L.map('map').setView([position.lat, position.lon], position.zoom);
      // Création d'un "tile layer" (permet l'affichage sur la carte)
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibTFpZjEzIiwiYSI6ImNqczBubmhyajFnMnY0YWx4c2FwMmRtbm4ifQ.O6W7HeTW3UvOVgjCiPrdsA', {
          maxZoom: 20,
          minZoom: 1,
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          id: 'mapbox.streets'
        }).addTo(this.map);
    },
    updateMap(position) {
      this.map.setView([position.lat, position.lon], position.zoom);
    },
    updateMarker(position) {
      if (this.myMarker) {
        this.myMarker.setLatLng([position.lat, position.lon])
      } else {
        // Ajout d'un marker
        this.myMarker = L.marker([position.lat, position.lon]).addTo(this.map).bindPopup('My actual position').openPopup();
        // this.map.setView([position.lat, position.lon], position.zoom);
      }
    },
    updatePerimeter(bounds) {
      if (bounds.lat1 !== '' && bounds.lat2 !== '' && bounds.lon1 !== '' && bounds.lon2 !== '') {
        this.pBounds = [+bounds.lat1, +bounds.lon1, +bounds.lat2, +bounds.lon2];
        // define rectangle geographical bounds
        var Rbounds = [[+bounds.lat1, +bounds.lon1], [+bounds.lat2, +bounds.lon2]];
        if (this.perimeter) {
          this.perimeter.setBounds(Rbounds);
        } else {
          // create an orange rectangle
          this.perimeter = L.rectangle(Rbounds, {color: "#ff7800", weight: 1}).addTo(this.map);
        }
        // zoom the map to the rectangle bounds
        this.map.fitBounds(Rbounds);
      }
    },
    focusPerimeter(bounds) {
      if (bounds.lat1 !== '' && bounds.lat2 !== '' && bounds.lon1 !== '' && bounds.lon2 !== '') {
        var Rbounds = [[+bounds.lat1, +bounds.lon1], [+bounds.lat2, +bounds.lon2]];
        // zoom the map to the rectangle bounds
        this.map.fitBounds(Rbounds);
      }
    },
    updateTarget(position) {
      if (position.lat1 !== '' && position.lon1 !== '') {
        if (this.target) {
          this.target.setLatLng([position.lat, position.lon]);
        } else {
          this.target = L.circle([position.lat, position.lon], {color: 'red', radius: 2}).addTo(this.map)
          .bindPopup('<strong>Target</strong>.').openPopup();;
        }
        this.map.setView([position.lat, position.lon], 12);
      }
    },
    focusTarget(position) {
      if (position.lat1 !== '' && position.lon1 !== '') {
        this.map.setView([position.lat, position.lon], 12);
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card-header {
  display: flex;
}

.card-header p {
  margin: 0;
  font-size: 18px;
}

.map { 
  width: 100%;
  min-height: 600px;
  height: 100%;
}

.spacer {
  flex-grow: 1;
}
</style>
<style lang="scss">
$main: #7ac29a; 
$menu-item: rgb(144, 147, 153); 

</style>
