<template>
  <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
    <el-form-item label="Latitude" prop="lat">
      <el-input v-model="ruleForm.lat"></el-input>
    </el-form-item>
    <el-form-item label="Longitude" prop="lon">
      <el-input v-model="ruleForm.lon"></el-input>
    </el-form-item>
    <!-- <el-form-item label="Zoom" prop="zoom">
      <el-slider
        v-model="ruleForm.zoom"
        show-input
        :max="20"
        :min="1">
      </el-slider>
    </el-form-item> -->
    <el-form-item>
      <el-button @click="post">Send Position</el-button>
      <el-button @click="focusPerimeter">Focus Perimeter</el-button>
      <el-button @click="focusTarget">Focus Target</el-button>
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  name: "Position",
  data() {
    return {
      ruleForm: {
        lat: null,
        lon: null,
        zoom: 0
      },
      rules: {
        lat: [
          { required: true, message: 'Please input latitude', trigger: 'blur' },
        ],
        lon: [
          { required: true, message: 'Please input longitude', trigger: 'blur' }
        ]
      }
    };
  },
  mounted() {
    this.init();
  },
  created() {
      this.unsubscribe = this.$store.subscribe((mutation, state) => {
          // if (mutation.type === 'timeOut') {
          //   this.message('Time out, getting result', true);
          // }
      });
  },
  beforeDestroy() {
    this.unsubscribe();
  },
  methods: {
    init() {
      this.ruleForm.lat = this.$store.getters.position.lat;
      this.ruleForm.lon = this.$store.getters.position.lon;
      this.ruleForm.zoom = this.$store.getters.position.zoom;
    },

    post() {
      const _this = this
      const api_url = '/api';
      const put_url = api_url + "/resources/" + this.$store.getters.user.username + "/position";
      const data = {
        position: [this.ruleForm.lat, this.ruleForm.lon]
      }
      this.$http.put(put_url, data)
      .then(function (response) {
        if (response.status === 200) {
          if (response.data.message === "user reached the goal") {
            _this.$store.commit('userWon');
          } else if (response.data.message === "game finished") {
            _this.$store.commit('gameFinished');
          } else {
            _this.message("User's position has been successfully updated", true);
            _this.$store.commit({
              type:'updatePosition',
              lat: _this.ruleForm.lat,
              lon: _this.ruleForm.lon,
              zoom: _this.ruleForm.zoom
            });
          }              
        }
      }).catch(function(error) {
        _this.message("Unable to upload user's position", false);
      });   
    },
    focusPerimeter() {
      this.$store.commit('focusPerimeter');
    },
    focusTarget() {
      this.$store.commit('focusTarget');
    },
    message(message, success) {
      this.$message({
        showClose: true,
        message: message,
        type: success ? 'success' : 'error' 
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.el-form {
  width: 60%;
  margin-right: auto;
}

.el-form .el-form-item:last-child {
  display: flex;
}
</style>
<style lang="scss">
$main: #7ac29a; 
$menu-item: rgb(144, 147, 153); 
.el-slider__bar {
  background-color: $main;
}

.el-slider__button {
  border-color: $main;
}

.el-button {
  &:hover,
  &.active,
  &:focus {
    color: lighten($main, 7);
    border-color: lighten($main, 7);
  }
}

.el-input__inner {
  &:hover, &:active, &:focus {
    border-color: $main;
  }
}

</style>
