<template>   
    <div class="container">
        <el-menu class="sidebar" :collapse="isCollapse"
        background-color="#212120" text-color="#fff" active-text-color="#fff">
            <div class="title">
                <i class="fas fa-map-pin"></i>
                <h2 v-if="!isCollapse">PacMap</h2>
            </div>
            <el-menu-item index="1" @click="toggleSideBar" v-if="isCollapse">
                <i class="fas fa-caret-right"></i>
                <span slot="title">Expand</span>
            </el-menu-item>
            <el-menu-item index="1" @click="toggleSideBar" v-else>
                <i class="fas fa-caret-left"></i>
                <span slot="title">Collapse</span>
            </el-menu-item>
            <el-menu-item index="2" @click="dialogFormVisible = true">
                <i class="fas fa-images"></i>
                <span slot="title">URL Image</span>
            </el-menu-item>
            <el-menu-item index="3" @click="logout">
                <i class="fas fa-sign-out-alt"></i>
                <span slot="title">Sign out</span>
            </el-menu-item>
        </el-menu>   

        <el-dialog title="Upload URL Image" :visible.sync="dialogFormVisible"  width="50%">
            <el-form :model="form" label-width="15%" :rules="rules">
                <el-form-item label="URL" prop="url">
                    <el-input v-model="form.url" clearable></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">Cancel</el-button>
                <el-button @click="uploadUrl">Confirm</el-button>
            </span>
        </el-dialog>  
    </div>
</template>

<script>
import MatchInfo from './Info'
import Position from './Position'
import LeafletMap from './Map'

export default {
    name: "Sidebar",
    data() {
      return {
        isCollapse: true,
        dialogFormVisible: false,
        form: {
            url: ''
        },
        rules: {
            url: [
                { required: true, message: 'Please input url image', trigger: 'blur' },
            ],       
        }
      };
    },
    methods: {
        toggleSideBar() {
            this.isCollapse = !this.isCollapse;
        },
        uploadUrl() {
            let _this = this
            let api_url = '/api';
            let put_url = api_url + "/resources/" + this.$store.getters.user.username + "/image";
            let image_url = this.form.url;
            this.$http.put(put_url, image_url, {
                headers: {
                    'Content-Type': 'text/plain'
                }
            })
            .then(function (response) {
                if (response.status === 204) {
                    _this.message('Image has been successfully updated', true);
                    _this.dialogFormVisible = false; 
                    _this.$store.commit({
                        type:'updateImage',
                        image: _this.form.url
                    });
                }
            }).catch(function(error) {
                console.log(error);
                _this.message('Unable to upload url', false);
            });            
        },
        logout() {
            let _this = this
            let api_url = '/api-spring';
            let post_url = api_url + "/logout";
            this.$http.delete(post_url)
            .then(function (response) {
                if (response.status === 204) {
                    _this.message('You have successfully logged out', true);
                    _this.$router.push('/');
                    _this.userLoggedOut();
                }
            }).catch(function(error) {
                _this.message('Unable to logout', false);
            });
        },
        userLoggedOut() {
            this.$http.defaults.headers.common['Authentication'] = null;
            this.$store.commit('userLoggedOut');
        },
        message(message, success) {
            this.$message({
                showClose: true,
                message: message,
                type: success ? 'success' : 'error' 
            });
        },
    }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
    height: 100%;
}

.sidebar {
    height: 100%;
} 

.sidebar .title h2 {
    padding-left: 5%;
}

.sidebar:not(.el-menu--collapse) {
    width: 200px;
}

.sidebar .el-menu-item {
    color: white!important;
}

.sidebar .el-menu-item span {
    padding-left: 5%;
}
</style>
<style lang="scss">
$main: #7ac29a; 
$menu-item: rgb(144, 147, 153); 
.el-icon-close {
    &:hover {
        color: $main!important;
    }
}
</style>
