<template>
  <vue-countdown-timer class="timer"
    @start_callback="startCallBack('event started')"
    @end_callback="endCallBack('event ended')"
    :start-time="startAt"
    :end-time="endAt"
    :interval="1000"
    label-position="begin"
    :end-text="'Time ended!'"
    :minutes-txt="'minutes'"
    :seconds-txt="'seconds'">

    <template slot="countdown" slot-scope="scope">
      <span><b>Time:</b> {{scope.props.minutes}}</span><span>:</span><span>{{scope.props.seconds}}</span>
    </template>

    <template slot="end-text" slot-scope="scope">
      <span style="color: green">{{ scope.props.endText}}</span>
    </template>
  </vue-countdown-timer>
</template>

<script>
 
export default {
  name: 'Timer',
  methods: {
    startCallBack: function (x) {
    },
    endCallBack: function (x) {
      this.$store.commit('timeOut');
    }
  }, data() {
      return {
        startAt:  (new Date).getTime(),
        endAt:  (new Date).getTime()+120000
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
<style lang="scss">
$main: #7ac29a; 
$menu-item: rgb(144, 147, 153); 
</style>
