<template>
    
</template>

<script>
export default {
  name: "Trophies",
  data() {
    return {
      trophies: null
    };
  },
  created() {
    this.unsubscribe = this.$store.subscribe((mutation, state) => {
      if (mutation.type === 'updateUser') {
        this.update(state.user);        
      }
    });
  },
  beforeDestroy() {
    this.unsubscribe();
  },
  methods: {
    update(user) {
      this.trophies = user.trophies;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
<style lang="scss">
$main: #7ac29a; 
$menu-item: rgb(144, 147, 153); 

</style>
