<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
				<title>Error</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<section>
			<h2><%= message %></h2>
		</section>	
	</body>
</html>