<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="'Error'+${errCode}"></title>
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic" rel="stylesheet" type="text/css" />
    <link th:href="@{css/error.css}" media="all" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="layout">
    <div class="title" th:text="${errCode}"></div>
    <div class="text icon_500">Something went wrong !!</div>
</div>
</body>
</html>