<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <meta charset="UTF-8"o/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<<<<<<< HEAD
    <!--<link th:href="@{css/index.css}" media="all" rel="stylesheet" type="text/css" />
    <script th:src="@{js/script.js}"></script>-->
    <!-- Jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@beta/dist/js.cookie.min.js"></script>
=======
>>>>>>> tp4
</head>
<body>
    <h1>Spring Boot Web App</h1>
    <p>
        <span th:text="'Today is: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" th:remove="tag"></span>
    </p>
<<<<<<< HEAD

    <hr>
=======
>>>>>>> tp4
</body>
</html>