<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  mounted() {
    this.setContentTypePost();
  },
  methods: {
    setContentTypePost() {
      this.$http.defaults.headers.common['Content-Type'] = 'application/json'; 
      this.$http.defaults.headers.post['Content-Type'] = 'application/json'; 
      this.$http.defaults.headers.put['Content-Type'] = 'application/json'; 
      this.$http.defaults.headers.patch['Content-Type'] = 'application/json'; 
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #7ac29a;
  height: 100vh;
}
</style>
