<!-- views/partials/header.ejs -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
    <a class="navbar-brand" href="#">MIF13 GAME</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin">Home</a>
        </li>
        <div class="spacer"></div>
        <li class="nav-item" >
            <button class="btn-logout nav-link" onClick="logout()"><span class="fas fa-sign-out-alt" aria-hidden="true"></span></button>
        </li>
    </ul>
    </div>
</nav>

<script type="text/javascript" src="/static/js/logout.js"></script>